<% content_for :title, "Posts" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Posts</h1>
  <%= link_to "New Post", new_post_path, class: "btn btn-success new-post-btn-top" %>
</div>

<div id="posts" class="row">
  <% @posts.each do |post| %>
    <div class="col-md-6 col-lg-4">
      <div class="card card-post">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= truncate(post.body, length: 100) %></p>
          <a href="<%= post_path(post) %>" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
